*
!backend
backend/*
!backend/pyproject.toml
!backend/uv.lock
!backend/src
!backend/src/**
!backend/migrations
!backend/migrations/**
!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!contracts
!contracts/**
!apps
apps/*
!apps/web
apps/web/*
!apps/web/package.json
!apps/web/next.config.ts
!apps/web/next-env.d.ts
!apps/web/tsconfig.json
!apps/web/src
!apps/web/src/**
